.Help {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;

    .help {
        padding: 20px;
        background-color: white;
        border: 2px solid #31304D;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms linear;
        cursor: pointer;

        &:hover {
            background-color: #31304D;

            svg {
                color: white !important;
            }
        }
    }
}