.helpCont {
    width: 100%;
    margin-bottom: 30px;

    .Help {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .back {
            cursor: pointer;
        }

        .helps {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .help {
                padding: 15px;
                background-color: white;
                border: 2px solid #31304D;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 200ms linear;
                cursor: pointer;

                &:hover {
                    background-color: #31304D;


                    svg {
                        color: white !important;
                    }
                }

                &:disabled {
                    cursor: not-allowed;
                    opacity: 0.5;
                }
            }

        }

    }

    .info {
        margin: 10px auto;
        color: #31304D;
        text-align: center;
        height: 15px;

        &:hover {}
    }
}